.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.25rem 3.125rem 1.25rem 0;
  margin-bottom: 1px;
}

.detail {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}

.title {
  font-size: 1rem;
  font-weight: 300;
}

.imageContainer {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
  border-radius: 2px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
