@import '../../theme/breakpoints';

.container{
  width: 100%;
}

.wrapper {
  height: 12.5rem;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.25rem 3.125rem 1.25rem 1.25rem;
  margin-bottom: 1px;
  @media screen and (min-width: 0) and (max-width: $mobile-l) {
    flex-direction: column;
    padding: 1.25rem 0;
  }
}

.detail {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  @media screen and (min-width: 0) and (max-width: $mobile-l) {
    height: 6rem;
    padding: 1rem;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}

.price {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}